.input-form-class::-webkit-input-placeholder {

    color: $color_gray !important;
}

.div-input-form {
    width: 100% !important;
}

.icon {
    z-index: 1 !important;
    pointer-events: all !important;
}