.img-sign {
  z-index: 1 !important;
  width: 100% !important;
  max-width: 130px !important;
  margin-left: -4% !important;
}

.content-gray {
  height: 60% !important;
  width: 100% !important;
  bottom: 0;
}

.content-red {
    top: 0;
    width: 100% !important;
    height: 40% !important;
  }